DB_HOST=localhost
DB_PORT=5432
DB_NAME=gnosis
DB_USER=postgres
DB_PASSWORD=
JWT_SECRET=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379
PORT=3001
PROGRESS_SERVICE_URL=http://localhost:3003