JWT_SECRET=
AUTH_SERVICE=http://localhost:3001
CONTENT_SERVICE=http://localhost:3002
PROGRESS_SERVICE=http://localhost:3003
XP_SERVICE=http://localhost:3004
BATTLE_SERVICE=http://localhost:3005
NOTIFICATION_SERVICE=http://localhost:3006
PORT=3000